<ion-tabs ng-class="['tabs-icon-top','tabs-color-active-positive',hideTabs?'tabs-item-hide':'',bodyClass]">
	<ion-tab title="聊天" icon-off="iconfont icon-weixin" icon-on="iconfont icon-weixin" href="{{ngUrl('tabs.chat')}}">
		<ion-nav-view name="tabs-chat"></ion-nav-view>
	</ion-tab>
	<ion-tab title="朋友" icon-off="iconfont icon-tongxunlu" icon-on="iconfont icon-tongxunlu" href="{{ngUrl('tabs.friend')}}">
		<ion-nav-view name="tabs-friend"></ion-nav-view>
	</ion-tab>
	<ion-tab title="发现" icon-off="iconfont icon-faxian spec" icon-on="iconfont icon-faxian spec">
		<ion-nav-view name="tabs-find"></ion-nav-view>
	</ion-tab>
	<ion-tab title="我" icon-off="iconfont icon-wo" icon-on="iconfont icon-wo" href="{{ngUrl('tabs.mine')}}">
		<ion-nav-view name="tabs-mine"></ion-nav-view>
	</ion-tab>
</ion-tabs>
