<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<title><?php echo $site_name;?></title>
	<link href="<?php echo ATTMS_URL;?>web/css/style.css" rel="stylesheet" type="text/css" />
	<link href="<?php echo ATTMS_URL;?>web/css/font.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="<?php echo ATTMS_URL;?>web/js/jquery.min.js"></script>
	<script type="text/javascript" src="<?php echo ATTMS_URL;?>web/js/underscore-min.js"></script>
	<script type="text/javascript" src="<?php echo ATTMS_URL;?>web/js/init.js"></script>
</head>
<body>
<div class="body">
<!--.head start-->
<div class="head">
	<?php if(!$user_id):?>
	<div class="float_right padding_10">
		<a href="<?php echo pcUrl('user','login');?>">登录</a>
		&nbsp;
		<a href="<?php echo pcUrl('user','register');?>">注册</a>
	</div>
	<?php else:?>
	<div class="float_right padding_10">
		<?php echo $user_name;?>，<a href="<?php echo pcUrl('user','logout');?>">退出登录</a>
	</div>
	<?php endif;?>
	<div class="logo">
		<h1> <a href="<?php echo $site_url;?>"><?php echo $site_name;?></a></h1>
	</div>
	<div class="nav">
		<ul>
			<li><a href="<?php echo pcUrl();?>" <?php if($nav_now==0) echo 'class="now"';?>>首页</a></li>
			<?php foreach($site_nav as $row):?>
			<li><a href="<?php echo $row['url']?$row['url']:pcUrl('index','nav',array('id'=>$row['nav_id']));?>" <?php if($nav_now==$row['nav_id']) echo 'class="now"';?>><?php echo $row['nav_name'];?></a></li>
			<?php endforeach;?>
		</ul>
		<div class="clear"></div>
	</div>
</div>
<!--.head end-->
<div class="height_20"></div>
<?php echo $main_content;?>
<!--.foot start-->
<div class="foot gray">
	<div class="foot_1">
		<ul>
			<?php foreach($friend_link as $row):?>
			<li><a href="<?php echo $row['link_url'];?>"><?php echo $row['link_name'];?></a></li>
			<?php endforeach;?>
		</ul>
	</div>
	<div class="foot_2">
		<p>版权所有Christopher_Song 2017</p>
		<p><?php echo $icp_number;?></p>
	</div>
</div>
<!--.foot end-->
</div>
</body>
</html>
