	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header"><?php echo $title;?></h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<form role="form" id="detailForm" action="" method="post" enctype="multipart/form-data">
				<div class="alert alert-info">
					<p>
					在模型自动化之前，您需要先检查相关目录是否具有可读写权限
					</p>
					<?php foreach($folder_list as $index=>$row):?>
					<p <?php if(!$row['flag']) echo 'class="text-danger"';?>><?php echo $index;?>.<?php echo $row['path'];?></p>
					<?php endforeach;?>
				</div>
				<div id="content"></div>
				<p>
				<button class="btn btn-primary" type="submit">填写完毕</button>
				</p>
				</form>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->
	<script>
	var scope={
		'model_name':'',
		'model_desc':'',
		'primary_key':'',
		'fields_count':1,
		
		'fields':[{
			'name':'',
			'comment':'',
			'props':{
				//'require':{'value':''}
			},
		}],
	};
	$(function()
	{
		render();
		$('form').on('submit',function()
		{
			if(!window.confirm('表单填写成功吗？'))
				return false;
				
			var url=location.href;
			var param=scope;
			$.post(url,param,function(data)
			{
				data=$.parseJSON(data);
				if(!data.flag)
				{
					alert(data.message);
					return false;
				}
				else
				{
					alert('模型添加成功');
					location.href=location.href;
				}
			});
			return false;
		});
	});
	function render()
	{
		var template=$('#template').html();
		var str=_.template(template)(scope);
		$('#content').html(str);
		bind();
	}
	function bind()
	{
		var node=$('#content');
		
		node.find("[name='model_name']").on('blur',function()
		{
			var name=$(this).val();
			scope.model_name=name;
		});
		node.find("[name='model_desc']").on('blur',function()
		{
			var name=$(this).val();
			scope.model_desc=name;
		});
		node.find("[name='primary_key']").on('blur',function()
		{
			var name=$(this).val();
			scope.primary_key=name;
		});
		
		node.find("[name='fields_count']").on('blur',function()
		{
		 	var count=parseInt($(this).val());
			if(isNaN(count))
				return;
				
			scope.fields_count=count;
			var max=0;
			
			var length=scope.fields.length;
			if(length<count)
			{
				for(var i=0;i<count-length;i++)
				{
					var temp={
						'name':'',
						'comment':'',
						'props':{
							//'require':{'value':''}
						}
					};
					scope.fields.push(temp);
				}
			}
			else
			{
				for(var i=0;i<length-count;i++)
				{
					scope.fields.pop();
				}
			}
			
			render();
		});
		
		node.find("[name='field_name']").on('blur',function()
		{
			var name=$(this).val();
			var index=$(this).parents('.panel').data('index');
			
			scope.fields[index]['name']=name;
		});
		node.find("[name='field_comment']").on('blur',function()
		{
			var name=$(this).val();
			var index=$(this).parents('.panel').data('index');
			
			scope.fields[index]['comment']=name;
		});
		
		node.find("[type='checkbox']").on('change',function()
		{
			var checked=this.checked;
			var name=$(this).attr('name');
			var index=$(this).parents('.panel').data('index');
			var hasValue=$(this).data('value');
			
			if(checked)
			{
				var val={
					'value':null
				};
				if(hasValue)
					val.value='';
				
				scope.fields[index]['props'][name]=val;
			}
			else
			{
				delete(scope.fields[index]['props'][name]);
			}
			render();
		});

		node.find("[name='value']").on('blur',function()
		{
			var key=$(this).data('key');
			var value=$(this).val();
			var index=$(this).parents('.panel').data('index');
			
			scope.fields[index]['props'][key]['value']=value;
		});
	}
	</script>
	<script id="template">
		<div class="panel panel-default">
			<div class="panel-heading">
				详情
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<label>模型名</label>
							<input class="form-control" name="model_name" value="<%=model_name%>">
						</div>
						<div class="form-group">
							<label>模型描述</label>
							<input class="form-control" name="model_desc" value="<%=model_desc%>">
						</div>
						<div class="form-group">
							<label>主键名</label>
							<input class="form-control" name="primary_key" value="<%=primary_key%>">
						</div>
						<div class="form-group">
							<label>字段数量</label>
							<input class="form-control" name="fields_count" value="<%=fields_count%>">
						</div>
					</div>
					<div class="col-lg-6 addon_area">
					</div>
					<!-- /.col-lg-6 (nested) -->
				</div>
				<!-- /.row (nested) -->
			</div>
			<!-- /.panel-body -->
		</div>
		<%_.each(fields,function(row,index){%>
		<div class="panel panel-default" data-index="<%=index%>">
			<div class="panel-heading">
				字段<%=index+1%>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<label>字段名</label>
							<input class="form-control" name="field_name" value="<%=row.name%>" data-index="<%=index%>">
						</div>
						<div class="form-group">
							<label>字段描述</label>
							<input class="form-control" name="field_comment" value="<%=row.comment%>">
						</div>
						<div class="form-group">
							<label>字段属性</label>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<?php foreach($field_props as $index=>$row):?>
							<label class="checkbox-inline">
								<input type="checkbox" name="<?php echo $row['name'];?>" data-index="<?php echo $index;?>" data-value="<?php echo $row['value'];?>" <%if(fields[index]['props']['<?php echo $row['name'];?>']){%>checked<%}%>>
								<?php echo $row['name'];?>
							</label>
							<?php endforeach;?>
						</div>
						<%_.each(row.props,function(r,key){%>
						<%if(r.value!=undefined){%>
						<div class="form-group">
							<label><%=key%>属性</label>
							<input class="form-control" name="value" value="<%=r.value%>" data-key="<%=key%>">
						</div>
						<%}%>
						<%})%>
					</div>
					<div class="col-lg-6 addon_area">
					</div>
					<!-- /.col-lg-6 (nested) -->
				</div>
				<!-- /.row (nested) -->
			</div>
			<!-- /.panel-body -->
		</div>
		<%});%>
	</script>
