<ion-view ng-class="bodyClass" data-title="聊天列表" hide-back-button="true">
	<ion-content>
		<div class="list">
			<a class="item item-avatar item-icon-right" href="{{ngUrl('tabs.message',{'chatId':1})}}">
				<img src="mine/images/avatar.jpg">
				<h2>Venkman</h2>
				<p>Back off, man. I'm a scientist.</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
			<a class="item item-avatar item-icon-right" href="{{ngUrl('index')}}">
				<img src="mine/images/avatar.jpg">
				<h2>Venkman</h2>
				<p>Back off, man. I'm a scientist.</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
			<a class="item item-avatar item-icon-right" href="{{ngUrl('index')}}">
				<img src="mine/images/avatar.jpg">
				<h2>Venkman</h2>
				<p>Back off, man. I'm a scientist.</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
		</div>
	</ion-content>
</ion-view>
