	<div class="padding_foot"></div>
	<div class="foot">
		<ul>
			<li>
				<a href="{{ngUrl('chat')}}" ng-class="(index==1)?'now':''">
					<span class="iconfont icon-weixin"></span><br />聊天
				</a>
			</li>
			<li>
				<a href="{{ngUrl('friend')}}" ng-class="(index==2)?'now':''">
					<span class="iconfont icon-tongxunlu"></span><br />朋友
				</a>
			</li>
			<li>
				<a href="javascript:;" ng-class="(index==3)?'now':''">
					<span class="iconfont icon-faxian spec"></span><br />发现
				</a>
			</li>
			<li>
				<a href="{{ngUrl('mine')}}" ng-class="(index==4)?'now':''">
					<span class="iconfont icon-wo"></span><br />我
				</a>
			</li>
		</ul>
		<div class="clear"></div>
	</div>
