	<div class="head">
		<a href="{{ngUrl('mine')}}" class="left">返回</a>
		<h1>个人资料</h1>
	</div>
	<div class="padding_head"></div>
	<div class="info_list">
		<form action="{{pcUrl('user','saveInfo')}}" method="post" enctype="multipart/form-data" data-callback="callback">
			<table>
				<tr>
					<th>头像</th>
					<td>
						<input type="file" class="avatar" name="avatar" style="display:none;" />
						<img ng-src="{{userInfo.avatar}}" onclick="$('.avatar').trigger('click');"/>
					</td>
				</tr>
				<tr class="spec">
					<th>昵称</th>
					<td><input name="nickname" class="input_text full_width" value="{{userInfo.nickname}}" /></td>
				</tr>
			</table>
			<div class="height_10"></div>
			<div class="padding_10">
				<button class="button green full_width radius mine">确认</button>
			</div>
		</form>
	</div>
	<div class="foot" foot>
	</div>
