	<div class="head">
		<h1>我</h1>
	</div>
	<div class="padding_head"></div>
	<div class="click_list">
		<div class="height_10"></div>
		<dl ng-click="goto('info')">
			<dd class="float_left"><img ng-src="{{userInfo.avatar}}" /></dd>
			<dt>{{userInfo.nickname}}</dt>
			<dd>账户:{{userInfo.user_name}}</dd>
			<dd class="clear"></dd>
		</dl>
		<div class="height_10"></div>
		<ul>
			<li><a href="javascript:;">设置</a></li>
		</ul>
		<div class="height_10"></div>
		<div class="padding_10">
			<button class="button full_width red radius mine" ng-click="logout()">注销</button>
		</div>
	</div>
	<div class="foot" foot></div>
