<ion-view ng-class="bodyClass" data-title="我" hide-back-button="true">
	<ion-content overflow-scroll="false">
		<div class="list">
			<div class="item item-avatar item-icon-right" ng-click="goto('tabs.info')">
				<img ng-src="{{userInfo.avatar}}">
				<h2>{{userInfo.nickname}}</h2>
				<p>账户：{{userInfo.user_name}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</div>
			<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-ios-gear"></i>
				设置
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
		</div>
		<div class="padding">
			<button class="button button-block button-assertive" ng-click="logout()">退出</button>
		</div>
	</ion-content>
</ion-view>
