	<div class="login_form">
		<p>
			<input class="input_text full_width" ng-model="form.user_name" placeholder="用户名" />
		</p>
		<p>
			<input class="input_text full_width" type="password" ng-model="form.password" placeholder="密码" />
		</p>
		<p>
			<input class="input_text full_width" type="password" ng-model="form.password1" placeholder="确认密码" />
		</p>
		<p>
			<button class="button full_width red" ng-click="submit()">注册</button>
		</p>
		<p>
			<button type="button" ng-click="goto('login')" class="button full_width green">登录</button>
		</p>
	</div>
