<ion-view data-title="注册">
<ion-content>
<div class="list list-inset">
	<label class="item item-input">
		<input type="text" placeholder="用户名" ng-model="form.user_name">
	</label>
	<label class="item item-input">
		<input placeholder="密码" type="password" ng-model="form.password">
	</label>
	<label class="item item-input">
		<input placeholder="确认密码" type="password" ng-model="form.password1">
	</label>
</div>
<div class="padding">
	<button class="button button-block button-balanced" ng-click="submit()">注册</button>
</div>
</ion-content>
</ion-view>
