<!--.left_body start-->
<div class="left_body">
	<div class="article">
		<div class="title">
			<h2 class="text_align_center"><?php echo $info['title'];?></h2>
		</div>
		<div class="desc gray">
			<ul>
				<li>作者:admin</li>
				<li>时间:<?php echo $info['add_time_exp'];?></li>
			</ul>
		</div>
		<div class="height_10"></div>
		<div class="content normal">
			<?php if($info['thumb']):?>
			<div class="thumb">
				<img src="<?php echo $info['thumb'];?>" />
			</div>
			<?php endif;?>
			<?php echo $info['content'];?>
			<div class="clear"></div>
		</div>
		<div class="height_20"></div>
		<div class="tags">
			<ul>
				<li>本文的标签</li>
				<?php foreach($info['tags_exp'] as $tag):?>
				<li><a href="<?php echo pcUrl('index','index',array('tag'=>$tag));?>"><?php echo $tag;?></a></li>
				<?php endforeach;?>
			</ul>
		</div>
		<div class="height_20"></div>
		<div class="prev_next">
			<ul>
				<?php if($prev_next['prev']):?>
				<li>上一篇：<a href="<?php echo pcUrl('index','article',array('id'=>$prev_next['prev']['article_id']));?>"><?php echo $prev_next['prev']['title'];?></a></li>
				<?php else:?>
				<li>上一篇：无</li>
				<?php endif;?>
				<?php if($prev_next['next']):?>
				<li>下一篇：<a href="<?php echo pcUrl('index','article',array('id'=>$prev_next['next']['article_id']));?>"><?php echo $prev_next['next']['title'];?></a></li>
				<?php else:?>
				<li>下一篇：无</li>
				<?php endif;?>
			</ul>
		</div>
		
		<div class="comment" id="content">
		</div>
	</div>
</div>
<!--.left_body end-->
<!--.right_body start-->
<div class="right_body">
	<div class="tools">
		<div class="title">
			<a href="javascript:;" class="float_right">更多</a>
			热门文章
		</div>
		<div class="box">
			<ul>
				<?php foreach($hot_list as $row):?>
				<li>
				<span class="float_right gray italic font_size_12"><?php echo $row['add_time_exp'];?></span>
					<a href="<?php echo pcUrl('index','article',array('id'=>$row['article_id']));?>"><?php echo $row['title'];?></a>
				</li>
				<?php endforeach;?>
			</ul>
		</div>
	</div>
</div>
<!--.right_body end-->
<div class="clear"></div>
<script type="text/template" id="template">
<div class="comment_form">
	<h3><%=page_info.total_count%>条评论</h3>
	<p>
		<textarea class="input_textarea full_width" rows="5" name="content"></textarea>
	</p>
	<p class="text_align_right">
		<button class="button green">发布</button>
	</p>
</div>
<div class="comment_list">
	<h3>最新评论</h3>
	<%if(list && list.length){%>
	<%_.each(list,function(row){%>
	<dl>
		<dt>
			<%=row.user_name%>
			<a href="javascript:;" class="gray c_reply" data-id="<%=row.comment_id%>">回复</a>
			<small class="gray"><%=row.add_time_exp%></small>
		</dt>
		<dd><%=row.content%></dd>
	</dl>
	<%if(row.children){%>
	<%_.each(row.children,function(row1){%>
	<dl class="reply">
		<dt>
			<%=row1.user_name%>
			<small class="gray"><%=row1.add_time_exp%></small>
		</dt>
		<dd><%=row1.content%></dd>
	</dl>
	<%});%>
	<%}%>
	<%});%>
	<%}else{%>
	<div class="padding_20 text_align_center">
		暂无评论
	</div>
	<%}%>
	<%if(page_info.total_page){%>
	<div class="comment_page">
		<ul>
			<%if(page_info.page!=1){%>
			<li><a href="javascript:;" onclick="javascript:prevPage();">上一页</a></li>
			<%}%>
			<%for(var i=1;i<=page_info.total_page;i++){%>
			<%if(i==page_info.page){%>
			<li><span><%=i%></span></li>
			<%}else{%>
			<li><a href="javascript:;" onclick="javascript:showPage(<%=i%>);"><%=i%></a></li>
			<%}%>
			<%}%>
			<%if(page_info.page!=page_info.total_page){%>
			<li><a href="javascript:;" onclick="javascript:nextPage();">下一页</a></li>
			<%}%>
		</ul>
	</div>
	<%}%>
</div>
</script>

<script>
var scope={};
scope.page=1;
scope.article_id=<?php echo $article_id;?>;
scope.parent_id=0;
scope.user_id=<?php echo $user_id;?>;

function render()
{
	//获取评论信息
	var url="<?php echo pfUrl('index','commentList');?>";
	var param={
		'article_id':scope.article_id,
	};
	$.post(url+"&p="+scope.page,param,function(data)
	{
		data=$.parseJSON(data);
		/*
		if(!data.flag)
		{
			alert(data.message);
			return false;
		}
		data=data.data;
		*/
		
		scope.list=data.list;
		scope.page_info=data.page;
		
		var template=$('#template').html();
		var html=_.template(template)(scope);
		$('#content').html(html);
		bind();
	});
}
function bind()
{
	var node=$('#content');
	var url="<?php echo pfUrl('index','commentAdd');?>";
	node.find('button').on('click',function()
	{
		if(!scope.user_id)
		{
			alert('请您登录后再评论');
			return false;
		}
		var content=node.find("[name='content']").val();
		if(!content.length)
		{
			alert('请输入评论内容');
			return false;
		}
		var param={
			'article_id':scope.article_id,
			'parent_id':scope.parent_id,
			'content':content,
		};
		
		$.post(url,param,function(data)
		{
			data=$.parseJSON(data);
			if(!data.flag)
			{
				alert(data.message);
				return false;
			}
			
			/*
			data=data.data;
			var data1={
				'member_name':'您',
				'content':content,
				'add_time_exp':'刚刚',
			};
			scope.list.push(data1);
			scope.page_info.total_num++;
			*/
			render();
		});
	});
	node.find('.c_reply').on('click',function()
	{
		var id=$(this).data('id');
		
		node.find("[name='content']").trigger('focus');
		scope.parent_id=id;
	});
}
render();

function prevPage()
{
	if(scope.page==1)
		return false;
	
	scope.page--;
	render();
}
function nextPage()
{
	if(scope.page==scope.page_info.total_page)
		return false;
	
	scope.page++;
	render();
}
function showPage(page)
{
	if(page<1 || page>scope.page_info.total_page)
		return false;
	
	scope.page=page;
	render();
}
</script>

<script id="template">
</script>
