<!--.left_body start-->
<div class="left_body">
	<?php if($filter['tag']):?>
		<h3>含有标签<span class="green"><?php echo $filter['tag'];?></span>的文章</h3>
		<div class="height_20"></div>
	<?php endif;?>
	<?php if($filter['title']):?>
		<h3>搜索标题为<span class="green"><?php echo $filter['title'];?></span>的文章</h3>
		<div class="height_20"></div>
	<?php endif;?>
	<?php foreach($article_list as $row):?>
	<div class="article">
		<div class="title">
			<h3><a href="<?php echo pcUrl('index','article',array('id'=>$row['article_id']));?>"><?php echo $row['title'];?></a></h3>
		</div>
		<div class="content">
			<?php if($row['thumb']):?>
			<div class="thumb float_left">
				<a href="<?php echo pcUrl('index','article',array('id'=>$row['article_id']));?>">
					<img src="<?php echo $row['thumb'];?>" />
				</a>
			</div>
			<?php endif;?>
			<?php echo $row['content_exp'];?>
			<a href="<?php echo pcUrl('index','article',array('id'=>$row['article_id']));?>">更多</a>
			<div class="clear"></div>
		</div>
	</div>
	<?php endforeach;?>
	<div class="page text_align_center">
		<?php include T('public','page');?>
	</div>
	<div class="height_10"></div>
</div>
<!--.left_body end-->
<!--.right_body start-->
<div class="right_body">
	<div class="tools">
		<div class="title">
			搜索文章
		</div>
		<div class="box">
			<form>
				<input name="keywords" class="input_text">
				<button class="button green">搜索</button>
			</form>
		</div>
		<div class="height_20"></div>
		<div class="title">
			<a href="javascript:;" class="float_right">更多</a>
			热门文章
		</div>
		<div class="box">
			<ul>
				<?php foreach($hot_list as $row):?>
				<li>
				<span class="float_right gray italic font_size_12"><?php echo $row['add_time_exp'];?></span>
					<a href="<?php echo pcUrl('index','article',array('id'=>$row['article_id']));?>"><?php echo $row['title'];?></a>
				</li>
				<?php endforeach;?>
			</ul>
		</div>
		<div class="height_20"></div>
		<div class="title">
			热门标签
		</div>
		<div class="box tag_list">
			<ul>
				<?php foreach($tag_list as $row):?>
				<li>
					<a href="<?php echo pcUrl('index','index',array('tag'=>$row['tag_name']));?>"><?php echo $row['tag_name'];?></a>
				</li>
				<?php endforeach;?>
			</ul>
		</div>
		<div class="height_20"></div>
	</div>
</div>
<!--.right_body end-->
<div class="clear"></div>
