<!--.left_body start-->
<div class="left_body">
	<div class="article">
		<div class="content">
			<?php echo $info['content'];?>
			<div class="clear"></div>
		</div>
	</div>
</div>
<!--.left_body end-->
<!--.right_body start-->
<div class="right_body">
	<div class="tools">
		<div class="title">
			<a href="javascript:;" class="float_right">更多</a>
			热门文章
		</div>
		<div class="box">
			<ul>
				<?php foreach($hot_list as $row):?>
				<li>
				<span class="float_right gray italic font_size_12"><?php echo $row['add_time_exp'];?></span>
					<a href="<?php echo pcUrl('index','article',array('id'=>$row['article_id']));?>"><?php echo $row['title'];?></a>
				</li>
				<?php endforeach;?>
			</ul>
		</div>
	</div>
</div>
<!--.right_body end-->
<div class="clear"></div>

