<!DOCTYPE html>
<html>
	<head>
		<?php include T('public','head');?>
	</head>
	<script>
		var url="<?php echo $url;?>";
		window.onload=function()
		{
			setTimeout(locationTo,<?php echo $ms;?>);
		};
		function locationTo()
		{
			if(url.length)
				location.href=url;
			else
				history.go(-1);
		}
	</script>
	<body>
		<div class="body">
			<div class="height_20"></div>
			<?php if($code=='success'):?>
			<h1><?php echo $message;?></h1>
			<?php elseif($code=='message'):?>
			<h1><?php echo $message;?></h1>
			<?php elseif($code=='danger'):?>
			<h1><?php echo $message;?></h1>
			<?php endif;?>
			<div class="height_10"></div>
			<p>
			页面将在3秒内跳转，<a href="javascript:;" onclick="javascript:locationTo();" class="tiny">点击继续 </a>
			</p>
		</div>
	</body>
</html>
