		<ul>
			<?php if($page_info['page']!=1):?>
			<li><a href="<?php echo pcUrl(null,null,array_merge($page_info['params'],array('p'=>$page_info['page']-1)));?>">上一页</a></li>
			<?php endif;?>
			
			<?php for($page=1;$page<=$page_info['total_page'];$page++):?>
			<?php if($page==$page_info['page']):?>
			<li><a href="<?php echo pcUrl(null,null,array_merge($page_info['params'],array('p'=>$page)));?>"><?php echo $page;?></a></li>
			<?php else:?>
			<li><?php echo $page;?></li>
			<?php endif;?>
			<?php endfor;?>
			<?php if($page_info['page']!=$page_info['total_page']):?>
			<li><a href="<?php echo pcUrl(null,null,array_merge($page_info['params'],array('p'=>$page_info['page']+1)));?>">下一页</a></li>
			<?php endif;?>
		</ul>
